In [108]:
import openpyxl
import pandas as pd

##### 파일 불러오기

In [208]:
area=pd.read_excel('./area.xlsx')
area2=pd.read_excel('./area.xlsx').copy()

pricepop=pd.read_excel('./pricepop.xlsx')
pricepop2=pd.read_excel('./pricepop.xlsx').copy()

###### 중복값 없이 잘 크롤링 되었는지 확인 -> 중복값이 있었으므로 일일히 확인 후 편집
###### 중복값이 없음을 확인

In [209]:
#area
for i in range(len(area['행정구역'])):
    for j in range(i+1,len(area['행정구역'])):
        if area['행정구역'][i]==area['행정구역'][j]:
            print(area['순번'][i])

In [210]:
#pricepop
for i in range(len(pricepop['행정구역'])):
    for j in range(i+1,len(pricepop['행정구역'])):
        if pricepop['행정구역'][i]==pricepop['행정구역'][j]:
            print(pricepop['순번'][i])

###### 파일의 형태 및 길이

In [211]:
area[0:5]

   상권종류  순번      행정구역       상권면적
0  골목상권   1       계동길  125350.78
1  골목상권   2    난계로27길   31696.16
2  골목상권   3  돈화문로11가길  113805.69
3  골목상권   4       명륜길   44023.15
4  골목상권   5      백석동길  367064.09

In [212]:
pricepop[0:5]

   상권종류  순번                    행정구역    임대시세    상존인구
0  골목상권   1               계동길 (가회동)  146286   33247
1  골목상권   2           난계로27길 (숭인2동)   97158  122105
2  골목상권   3  돈화문로11가길 (종로1.2.3.4가동)  205633   21928
3  골목상권   4               명륜길 (혜화동)  136226  197932
4  골목상권   5              백석동길 (부암동)   86670    4856

In [213]:
len(area),len(pricepop)

(1496, 1496)

###### 두 파일을 합치기 위해 pricepop2['상존인구']의 (괄호안) 내용 지우기

In [214]:
import re

In [215]:
pricepop2=pd.read_excel('./pricepop.xlsx').copy()
for i in range(0,len(pricepop2['행정구역'])):
    if type(pricepop2['행정구역'][i])==str:
        pricepop2['행정구역'][i]=re.sub(r'\([^())]*\)','',pricepop2['행정구역'][i]).strip()
    if type(pricepop2['행정구역'][i])!=str:
        pricepop2['행정구역'][i]=pricepop2['행정구역'][i]

C:\Users\DoHyun\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [218]:
area[0:5]

   상권종류  순번      행정구역       상권면적
0  골목상권   1       계동길  125350.78
1  골목상권   2    난계로27길   31696.16
2  골목상권   3  돈화문로11가길  113805.69
3  골목상권   4       명륜길   44023.15
4  골목상권   5      백석동길  367064.09

In [217]:
pricepop2[0:5]

   상권종류  순번                    행정구역    임대시세    상존인구
0  골목상권   1               계동길 (가회동)  146286   33247
1  골목상권   2           난계로27길 (숭인2동)   97158  122105
2  골목상권   3  돈화문로11가길 (종로1.2.3.4가동)  205633   21928
3  골목상권   4               명륜길 (혜화동)  136226  197932
4  골목상권   5              백석동길 (부암동)   86670    4856

In [152]:
len(area),len(pricepop2)

(1496, 1496)

###### pricepop2(괄호없는 행정구역)을 pricepop(괄호있는 행정구역)을 이용하여 (괄호) 붙이기

In [216]:
for i in range(0,len(pricepop2)):
    for j in range(0,len(pricepop)):
        if pricepop2['행정구역'][i] in pricepop['행정구역'][j]:
            pricepop2['행정구역'][i]= pricepop['행정구역'][j]

C:\Users\DoHyun\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [219]:
pricepop2[0:5]

   상권종류  순번                    행정구역    임대시세    상존인구
0  골목상권   1               계동길 (가회동)  146286   33247
1  골목상권   2           난계로27길 (숭인2동)   97158  122105
2  골목상권   3  돈화문로11가길 (종로1.2.3.4가동)  205633   21928
3  골목상권   4               명륜길 (혜화동)  136226  197932
4  골목상권   5              백석동길 (부암동)   86670    4856

###### pricepop2에 상권면적 추가

In [225]:
pricepop2['상권면적']=''
for i in range(0,len(area)):
    for j in range(0,len(pricepop2)):
        if area['행정구역'][i] in pricepop2['행정구역'][j]:
            pricepop2['상권면적'][j]= area['상권면적'][i]

C:\Users\DoHyun\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [228]:
pricepop2[0:5]

   상권종류  순번                    행정구역    임대시세    상존인구     상권면적
0  골목상권   1               계동길 (가회동)  146286   33247   125351
1  골목상권   2           난계로27길 (숭인2동)   97158  122105  31696.2
2  골목상권   3  돈화문로11가길 (종로1.2.3.4가동)  205633   21928   113806
3  골목상권   4               명륜길 (혜화동)  136226  197932  44023.2
4  골목상권   5              백석동길 (부암동)   86670    4856   367064

In [232]:
pricepop2.loc[[3],:]

   상권종류  순번       행정구역    임대시세    상존인구     상권면적
3  골목상권   4  명륜길 (혜화동)  136226  197932  44023.2

In [233]:
pricepop2.to_excel("시세_인구_면적.xlsx")